<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <meta charset="utf-8" />

    <style>
      html,body{
        font-family: 'PingFangSC-Regular', sans-serif;
      }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=GAqc7ArmBgwAkjKNbu0Rei6Se4WvXdMz"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
